{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<div class="col-6 text-center m-auto">
    <div class="text-center mb-4">
        <a href="/"><img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="92" height="92"></a>
        <h1 class="h3 mb-3 font-weight-normal">Check your Email!</h1>
        <p> We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.</p>
        		  <p class="">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam/junk folder.
		  </p>
        		  <p class="m-auto p-2"><a href="{% url 'dashboard' %}">Return to home page</a></p>
    </div>
</div>

<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
