{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
</head>
<body>


<div class="container register" id="one">
    <div class="row">

        <form class="form-signin">
            <div class="text-center mb-4">
                <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="92" height="92">
                <h1 class="h3 mb-3 font-weight-normal">Welcome,</h1>
                <p>We are happy to have you here. Only one more step to secure your files.</p>
            </div>
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group form-label-group">
                        <input type="text" id="inputFirstName" class="form-control" placeholder="First Name*" value=""
                               autofocus/>
                        <label for="inputFirstName">First Name *</label>
                    </div>
                    <div class="form-group form-label-group">
                        <input type="text" id="inputLastName" class="form-control" placeholder="Last Name *" value=""/>
                        <label for="inputLastName">Last Name *</label>
                    </div>
                    <div class="form-group form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password *"
                               value=""/>
                        <label for="inputPassword">Password *</label>
                    </div>
                    <div class="form-group form-label-group">
                        <input type="password" id="inputConfirmPassword" class="form-control"
                               placeholder="Confirm Password *" value=""/>
                        <label for="inputConfirmPassword">Confirm Password *</label>
                    </div>
                    <div class="form-group">
                        <label class="radio inline">
                            <input type="radio" name="gender" value="male" checked>
                            <span> Male </span>
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="gender" value="female">
                            <span>Female </span>
                        </label>

                    </div>
                    <p class="mt-4 mb-3 text-muted text-left">Already have an Account?<a href="../login"> Login here</a>
                    </p>
                </div>

                <div class="col-md-6">
                    <div class="form-group form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Your Email *" value=""/>
                        <label for="inputEmail">Email Address</label>
                    </div>
                    <div class="form-group form-label-group">
                        <input type="text" id="inputPhone" minlength="10" maxlength="10" name="txtEmpPhone"
                               class="form-control" placeholder="Your Phone *" value=""/>
                        <label for="inputPhone">Phone Number</label>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option class="hidden" selected disabled>Please select your Security Question</option>
                            <option>What is your Birthdate?</option>
                            <option>What is Your old Phone Number</option>
                            <option>What is your Pet Name?</option>
                        </select>
                    </div>
                    <div class="form-group form-label-group">
                        <input type="text" id="inputSecretAnswer" class="form-control" placeholder="Enter Your Answer *"
                               value=""/>
                        <label for="inputSecretAnswer">Enter Your Answer</label>
                    </div>
                    <div>

                        <input type="submit" class="btnRegister btn btn-lg btn-primary btn-block" value="Register"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>