{% load template_extra %}

{% include 'content/snippets/empty_recycle_modal.html' %}

{% if files %}
    <form id="manage_files_form" method="post">
        {% csrf_token %}
        <div class="row mt-n5" id="file_list">
            {% for file in files %}

                {% if file.type == 'directory' %}

                    <div class="col-md-3">
                        <div class="m-3 px-3 pt-3 rounded text-center service directory-bg">
                            <div class="ml-4" data-toggle="tooltip" data-placement="top" title="Directory">
                                {% if file.id|to_str in all_directories|to_str or file.id|to_str in all_files|to_str %}
                                    <a href="{% url 'nested' user.username file.dir_name %}"><img
                                            class="img-fluid picture"
                                            src="../../../../static/images/directory_full.png"
                                            width="120"
                                            alt="Directory"></a>
                                {% else %}
                                    <a href="{% url 'nested' user.username file.dir_name %}"><img
                                            class="img-fluid picture"
                                            src="../../../../static/images/directory.png"
                                            width="120"
                                            alt="Directory"></a>
                                {% endif %}
                            </div>
                            <div class="service-body">
                                <label class="container_checkbox">
                                    <input type="checkbox" name="dc{{ file.id }}" value="checked" class="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <input required type="text" name="d{{ file.id }}" value="{{ file.dir_name }}"
                                       maxlength="18" autocomplete="off"
                                       class="text-center name_input mt-1 mb-2">
                            </div>
                        </div>
                    </div>

                {% elif file.type == 'image' %}

                    <div class="col-md-3">
                        <div class="m-3 px-3 pt-0 rounded text-center service directory-bg">
                            <div class="container ml-n2 " style="margin-top: 20px!important;">
                                <a class="nested_image_b" style="display: block;" href="{{ file.file.url }}"><img
                                        class="img-fluid rounded"
                                        src="../../../../static/images/image.png"
                                        width="120" alt="File" style="height: 130px;"></a>

                                <a class="nested_image_a" href="{{ file.file.url }}" style="display: none;"><img
                                        class="rounded" src="{{ file.file.url }}" id="nested_image"
                                        alt="Image"></a>
                            </div>
                            <div class="">
                                <label class="container_checkbox">
                                    <a href="" class="download-icon"><i class="fas fa-cloud-download-alt"></i></a>
                                    <input type="checkbox" name="fc{{ file.id }}" value="checked" class="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <input required type="text" name="f{{ file.id }}" value="{{ file.file_name }}"
                                       maxlength="18" autocomplete="off"
                                       class="text-center name_input  mb-2">
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="col-md-3">
                        <div class="m-3 px-3 pt-3 rounded text-center service directory-bg">
                            <div class="ml-n3 mt-2">
                                <a href="{{ file.file.url }}"><img class="img-fluid picture"
                                                                   src="../../../../static/images/pdf.png"
                                                                   width="120" alt="Pdf"
                                                                   style="width: 100px; height: 110px"></a>
                            </div>
                            <div class="service-body">

                                <label class="container_checkbox">
                                    <a href="" class="download-icon"><i class="fas fa-cloud-download-alt"></i></a>
                                    <input type="checkbox" name="fc{{ file.id }}" value="checked" class="checkbox">
                                    <span class="checkmark"></span>
                                </label>

                                <input required type="text" name="f{{ file.id }}" value="{{ file.file_name }}"
                                       maxlength="18" autocomplete="off"
                                       class="text-center name_input mb-2" style="">
                            </div>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {% include 'content/snippets/move_to.html' %}

    </form>
{% elif empty %}
    <div class="pt-3 text-center border col-md-6 mx-auto">
        <h2 class="pb-1 border-bottom">No results</h2>
        <p class="pt-2">{{ empty }}</p>
    </div>
{% endif %}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        $('.name_input').on('change', function () {
            $('#manage_files_form').attr('action', '{% url 'change_name' user.username %}').submit()
        });
    });

    $(document).ready(function () {
        $('#delete').on('click', function () {
            $('#manage_files_form').attr('action', '{% url 'delete_file' user.username %}').submit()
        });
    });

        $(document).ready(function () {
        $('#move_to_select').on('change', function () {
            $('#manage_files_form').attr('action', '{% url 'move_to' user.username %}').submit()
        });
    });

</script>