.form-control:focus {
    border-color: #353a40;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #353a40;
}
#username{

    font-size: 25px;
    font-weight: 500;
}
#output_username{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
     animation: show 3s ease;
}

@keyframes show {
  0% {
      opacity: 0;
  }
}
#bg_img{
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    margin-top: -10%;
    pointer-events: none;
    cursor: default;
}
.border{
     box-shadow: 10px 10px 8px #888888;
}