{% extends 'core/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/css/user_settings/user_settings.css' %}">
    <div class="content">
        <div class="row mt-n2">
            <div class="col-md-6 text-center">
                {% if request.user.gender == 'M' %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/male_avatar.png' %}"
                         width="200" height="200" alt="">
                {% else %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/female_avatar.png' %}"
                         width="200" height="200" alt="">
                {% endif %}
            </div>
            <div class="col-md-6 text-center my-auto" style="height: 100%;">
                <p class="pt-3"><span id="username">Username:</span> <br><span
                        id="output_username">{{ request.user.username }}</span></p>
                <img id="bg_img" src="{% static 'images/bubble.svg' %}" alt="">
            </div>
        </div>

        <p class=" mt-4 border"></p>
        <form method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group pt-2">
                        <label class="font-weight-bold d-flex" for="inputFirstName">Old Password:</label>
                        <input class="form-control col-12" required type="password" name="old_password"
                               id="inputFirstName" placeholder="Enter your old password."/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold d-flex " for="inputPassword1">New Password:</label>
                        <input class="form-control col-12" required type="password" name="new_password1"
                               id="inputPassword1" placeholder="At least 8 characters."/>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold d-flex" for="inputPassword2">Confirm Password:</label>
                        <input class="form-control col-12" required type="password" name="new_password2"
                               id="inputPassword2" placeholder="Enter your new password again."/>
                    </div>
                </div>
                <div class="col-md-6 my-auto">

                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="text-center py-3 alert-danger rounded">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button id="buttonId" class=" btn btn-outline-success mt-3 col-12 shadow-lg" type="submit">
                        <i class="fas fa-check"></i> Update Password
                    </button>
                    <a class="btn btn-outline-info mt-5 col-12 shadow-lg"
                       href="javascript:history.back()"><i class="far fa-arrow-alt-circle-left"></i> Get Back</a>
                    <p class=" mt-4 border"></p>
                </div>
            </div>
        </form>

    </div>


{% endblock content %}