{% extends 'core/main.html' %}
{% load static %}
{% block content %}

         <div class="content">
        <div class="row mt-n2">
            <div class="col-2"></div>
            <div class="col-8  py-3 text-center border-bottom border-top border-dark"
                 style="border-width:2px!important; border-radius: 20px;">
                {% if request.user.gender == 'M' %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/male_avatar.png' %}"
                         width="200" height="200" alt="">
                {% else %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/female_avatar.png' %}"
                         width="200" height="200" alt="">
                {% endif %}
                <p class="pt-2"><i>Username:</i> <u style="font-weight: 500;">{{ request.user.username }}</u></p>
                <p>Your new password has been set. </p>
                    <a href="{% url 'main' user.username %}" id="buttonId" class="btn btn-info btn-primary mt-3 mb-5"><i class="far fa-arrow-alt-circle-left"></i> Back to Home</a>
            </div>
        </div>
    </div>

{% endblock content %}