{% extends 'core/main.html' %}
{% load static %}
{% block content %}

           <link rel="stylesheet" href="{% static 'core/css/user_settings/user_settings.css' %}">

           <div class="row mt-n2">
            <div class="col-md-6 text-center">
                {% if request.user.gender == 'M' %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/male_avatar.png' %}"
                         width="200" height="200" alt="">
                {% else %}
                    <img class="img-fluid" style="border-radius: 50px" src="{% static 'images/female_avatar.png' %}"
                         width="200" height="200" alt="">
                {% endif %}
            </div>
            <div class="col-md-6 text-center my-auto" style="height: 100%;">
                <p class="pt-3"><span id="username">Username:</span> <br><span
                        id="output_username">{{ request.user.username }}</span></p>
                <img id="bg_img" src="{% static 'images/bubble.svg' %}" alt="">
            </div>
        </div>
        <p class=" mt-4 border"></p>
                <form method="post">{% csrf_token %}
                    <div class=" col-md-6 mx-auto">
                    <p class="mt-5 text-center py-3 alert-danger rounded">Are you sure that you want to delete your account?</p>
                    <a class="col-md-12 btn btn-outline-success mt-3 shadow-lg" href="{% url 'settings' user.username %}"><i
                            class="fas fa-backspace"></i> Cancel</a>
                    <button class="col-md-12 btn btn-outline-danger mt-5 shadow-lg" type="submit"><i
                            class="fas fa-user-minus"></i> Yes, Delete</button>
                    <a class="col-md-12 btn btn-outline-warning mt-5 shadow-lg" href="{% url 'deactivate_user' user.username %}">
                        <i class="fas fa-user-slash"></i> Deactivate</a>
                                <p class=" mt-4 border"></p>
                    </div>
                </form>

{% endblock content %}