@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
html{
  scroll-behavior: smooth!important;
}
body {
  font-family: 'Poppins', sans-serif;
}
nav span, nav ul{
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3rem;
}

.head__custom-nav .navbar-brand img {
  width: 45px;
  height: 45px; }
.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px; }
.head__custom-nav button {
  padding: 0; }
  .head__custom-nav button span i {
    width: 45px; }
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: #22a49c;
    border-bottom: 1px solid #22a49c;
  }

.custom-section {
  width: inherit;
  padding: 40px 0; }
  @media screen and (max-width: 991.98px) {
    .custom-section {
      flex-direction: column-reverse; } }
  .custom-section .col-lg-4 {
    margin-top: 100px; }
    .custom-section .col-lg-4 h2 {
      font-weight: 700;
      font-size: 64px;
      color: #000;
      margin-bottom: 0;
      line-height: 1;
      white-space: nowrap; }
    .custom-section .col-lg-4 h3 {
      font-weight: 300;
      font-size: 64px;
      color: #000;
      line-height: 1; }
    .custom-section .col-lg-4 p {
      color: #000;
      font-size: 14px;
      margin-top: 30px; }
    .custom-section .col-lg-4 a {
      display: inline-block;
      padding: 8px 22px;
      color: #fff;
      background-color: #22a49c;
      border: 1px solid transparent;
      margin-top: 60px;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .custom-section .col-lg-4 a:hover {
        color: #22a49c;
        background-color: #fff;
        border: 1px solid #22a49c; }
  .custom-section .col-lg-8 img {
    width: 100%;
    position: absolute;
    top: -14rem;
    right: -11%; }
    @media screen and (max-width: 991.98px) {
      .custom-section .col-lg-8 img {
        width: 100%;
        position: relative;
        top: 0;
        right: 0; } }
  .custom-section .col-lg-8 .animate-img img {
    width: 118px;
    position: absolute;
    top: -13.5rem;
    right: 2.9rem; }
.navbar-toggler{
  border: none!important;
  outline: none!important;
}
.fa-bars:hover{
  font-size: 42px!important;
}
.section-heading{
  font-weight: 600;
  font-size: 3.5rem;
font-family: 'Patrick Hand', cursive;
}
.service{
  border-radius: 3rem;
}
.service i{
  font-size: 35px;
}
.form-control:focus {
    border-color: #353a40;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #353a40;
}
.form-contact{
    width: 100%;
    max-width: 450px;
}
.btn {
    background: #4c97c4;
    border: none;
}

.btn:hover {
    border: 1px solid #4c97c4;
    background: white;
    color: #4c97c4;
}
.social-icons a:nth-child(-n+2){
  color: #035286;
  font-size: 3rem;
  text-decoration: none;
}
.social-icons a:nth-child(3){
  color: #0a6d3a;
  font-size: 3rem;
  text-decoration: none;
}
.social-icons a:hover{
  font-size: 3.1rem;
}
/*# sourceMappingURL=style.css.map */
    @media only screen and (max-width: 1050px) {
      .custom-section .col-lg-4 h2 {
      white-space: normal; }
    }
footer{
    font-family: 'Patrick Hand', cursive;
  font-size: 1.2rem;
}
#footerBtn{
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: none;
}

/*footer*/
.footer{
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("/static/images/footer_bg.jpg");
  background-size: cover;
}
.first{
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);
}
.first h4{
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}
.first h4::after{
  content: '';
  background: #22a49c;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.first p{
  font-size: 14px;
}
.second{
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);
  text-align: center;
}
.second h4{
  font-size: 1.6em;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 0.5em;
}
.second h4::after{
  content: '';
  background: #22a49c;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%;
}
.second p{
  padding-bottom: 30px;
}
.third{
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);
  text-align: right;
}
.third h4{
  font-size: 1.6em;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 0.5em;
}
.third h4::after{
  content: '';
  background: #22a49c;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%;
}
.third p {
  padding-bottom: 20px;
}
.line{
  height: 2px;
  background-color: rgb(206, 206, 206);
  width: 100%;
}
.copyrights{
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgb(206, 206, 206);
  text-align: center!important;
}
@media screen and (max-width: 1000px){
  .first{
    text-align: center;
  }
  .first h4::after{
    left: 40%;
  }
  .third{
    text-align: center;
  }
  .third h4::after{
    left: 40%;
  }
}
