{% extends 'core/main.html' %}
{% load static %}

{% block link %}

    {% include 'share_file/snippets/navbar_links.html' %}

{% endblock link %}

{% block content %}

    <link rel="stylesheet" href="{% static 'core/css/content/main_nested.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/recycle_bin/table.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/share_file/share_file.css' %}">

    {% include 'share_file/snippets/show_files.html' %}


{% endblock content %}

