{% extends 'core/main.html' %}
{% load static %}

{% block link %}
    {#    NAVBAR LINKS#}
    {% include 'content/snippets/navbar_links.html' %}
    {#    ----------#}
{% endblock link %}

{% block content %}

    <link rel="stylesheet" href="{% static 'core/css/content/main_nested.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/user_settings/user_settings.css' %}">

    {#CREATE DIRECTORY FORM#}
    {% include 'content/snippets/create_directory.html' %}
    {#----------------------------#}
    {#    UPLOAD FILE FORM#}
    {% include 'content/snippets/upload_file.html' %}
    {#----------------------------#}
    {#    SHARE FILE FORM#}
    {% include 'content/snippets/share_file.html' %}
    {#    -------------------------------#}
    {#SHOW DIRECTORIES, FILES#}
    {% include 'content/snippets/show_directories_files.html' %}
    {#------------------------#}
    {# DIRECTORY MODAL#}
    {% include 'content/snippets/create_directory_modal.html' %}
    {#    ----------------#}
{% endblock content %}